#camera {
	width: 640px;
	height: 480px;
}

.btn {
	margin-top: 10px;
}

.emotion-img {
	width: 300px;
	padding-top: 20px;
}

.dropdown-item {
	padding: 3px;
	padding-left: 10px;
}

html, body {
	height: 100%;
	margin: 0;
  	background-image: -webkit-linear-gradient(45deg, #FF5A00 0%, #FFAE00 100%);
  	background-image: -moz-linear-gradient(45deg, #FF5A00 0%, #FFAE00 100%);
  	background-image: -ms-linear-gradient(45deg, #FF5A00 0%, #FFAE00 100%);
  	background-image: -o-linear-gradient(45deg, #FF5A00 0%, #FFAE00 100%);
  	background-image: linear-gradient(45deg, #FF5A00 0%, #FFAE00 100%);
}