#camera {
	width: 640px;
	height: 480px;
}

.btn {
	margin-top: 10px;
}

.emotion-img {
	height: 350px;
	padding-top: 20px;
}

.dropdown-item {
	margin: 3px;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
	margin: 3px;
	color: gray;
	background-color: white;
}

html, body {
	height: 100%;
	margin: 0;
  	background-image: -webkit-linear-gradient(45deg, #FF5A00 0%, #FFAE00 100%);
  	background-image: -moz-linear-gradient(45deg, #FF5A00 0%, #FFAE00 100%);
  	background-image: -ms-linear-gradient(45deg, #FF5A00 0%, #FFAE00 100%);
  	background-image: -o-linear-gradient(45deg, #FF5A00 0%, #FFAE00 100%);
  	background-image: linear-gradient(45deg, #FF5A00 0%, #FFAE00 100%);
}

h1 {
    font-family: 'Corben', Georgia, Times, serif;
}

.ion-icon {
	font-size: 24px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
}