<div class="text-center">

	<h1> Feel all the {{derp}}!</h1>
    <audio loop="loop" id="myAudio">
        <source src="{{audioFile}}" type="audio/mpeg">
    </audio>

		<button type="button" class="btn btn-primary" ng-click="takeSnapshot(true)">How do I octofeel?</button>

		<div class="btn-group text-left" uib-dropdown is-open="status.isopen">
            <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
                {{buttonText}}<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                <li class="dropdown-item" role="menuitem" ng-repeat="feel in feels" ng-click="changeFeel(feel, true)"><a href="#">{{feel}}</a></li>
                <li class="divider"></li>
                <li class="dropdown-item" role="menuitem" ng-click="changeFeel('surprise_me')"><a href="#">Surprise me!</a></li>
        	</ul>
    	</div>

    	<button type="button" class="btn btn-secondary" ng-click="showNext()" ng-show="showNextButton">Next</button>

	<div id="camera" ng-show='false'></div>

	<!-- shows a gif of the resulting emotion if there is one -->
	<div>
		<div>
			<img class="emotion-img" ng-src="{{currentImage}}" ng-show="!loading">
			<div id="loading-animation" class="container" ng-show="loading">
				<div class="dot m-x-auto"></div>
				<div class="dot m-x-auto"></div>
				<div class="dot m-x-auto"></div>
			</div>
			<img class="emotion-img" ng-src="{{makeFeelImage}}" ng-show="showSplitScreen && !loading && makeFeelImage">
		</div>
		
		<h3>{{phrase}}</h3>
		<p>WARNING: This page may cause extreme emotional distress. Please use with caution.</p>
	</div>
	<div id="chart"></div>
	<footer class="footer">
		<div>
        <a class="social-media-icons" href="https://github.com/stellarxo/octofeels">
            <i class="ion-icon ion-social-github"></i>
        </a>
      </div>
    </footer>


</div>

