<div class="text-center">

	<h1> Feel all the {{derp}}!</h1>

		<button type="button" class="btn btn-primary" ng-click="takeSnapshot()">How do I octofeel?</button>

		<div class="btn-group text-left" uib-dropdown is-open="status.isopen">
            <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
                Make me octofeel  <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                <li class="dropdown-item" role="menuitem" ng-repeat="feel in feels" ng-click="changeFeel(feel)"><a href="#">{{feel}}</a></li>
                <li class="divider"></li>
                <li class="dropdown-item" role="menuitem" ng-click="changeFeel('surprise_me')"><a href="#">Surprise me!</a></li>
        </ul>
    </div>

	<div id="camera" ng-show='false'></div>

	<!-- shows a gif of the resulting emotion if there is one -->
	<div>
		<img class="emotion-img" ng-src="{{currentImage}}">
		<h3>{{phrase}}</h3>
	</div>

	<footer class="footer">
      <div class="container">
        <a class="social-media-icons" href="https://github.com/stellarxo/octofeels">
            <i class="ion-icon ion-social-github"></i>
        </a>
      </div>
    </footer>


</div>

